{% extends 'base.html' %}

{% block title %} Conversor TTS {% endblock %}

{% block content %}

<div class="visualizacao">
	{% for audio in audios %}

	<h2>Nome do arquivo:</h2>

	<p class="text">&nbsp;&nbsp; {{audio.nome_do_arquivo}}.mp3</p>

	<h2>Texto convertido em áudio ({{audio.get_idioma_display}}):</h2>

	<p class="text">&nbsp;&nbsp; {{audio.texto}}</p>
	
	<audio id="audio" controls name="media" data-vscid="1lssv8tbt">
		<source src="../../media/{{audio.nome_do_arquivo}}.mp3" type="audio/mpeg">
		Seu navegador não suporta áudio com HTML5.
	</audio>

	<p id="download">Para baixar o áudio, clique nos 3 pontos do player de áudio e em seguida clique em "Fazer o download".</p>

	<div class="divbotoes">
		
		<a href="{% url 'conversor:homepage' %}"><span class="botao">Gerar novo áudio</span></a>

	</div>

	{% endfor %}
</div>

{% endblock %}