{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Conversor TTS {% endblock %}

{% block content %}
	
<p class="explicacao">Este conversor de texto para áudio gera um arquivo de áudio baseado no texto digitado e o disponibiliza para download no formato MP3.</p>

<div>
	<div class="container formu">
		<div class="row">
			<div class="col-xs-4">
				<h2>Texto a ser convertido:</h2>
				<form method="POST" autocomplete="off">
					{% csrf_token %}
					{{form|crispy}}
					<input class="gerar" type="submit" value="Gerar áudio">
				</form>
			</div>
		</div>
	</div>

</div>

{% endblock %}