* {
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

/* Cabeçalho */

.topo{
	width: 100%;
	background-color: rgb(50, 50, 50);
	padding: 20px;
	border-bottom: 4px solid rgb(50, 255, 50);
}

.topo a:hover{
	text-decoration: none;
}

.nome{
	box-sizing: border-box;
	border: 5px outset;
	padding: 1%;
	margin: 0 auto;
	width: 60%;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	color: rgb(50, 255, 50);
	text-align: center;
	letter-spacing: 15px;
}

.nome:hover{
	border: 5px inset;
}


/* Página inicial */

.explicacao{
	margin-top: 2.5%;
	margin-right: 50%;
	margin-bottom: 2.5%;
	margin-left: 7.5%;
	font-size: 20px;

}

/* Formulário principal */

div.col-xs-4{
	display: inline-table;
	width: 30vw;
}

/* Botão que gera o áudio */

.gerar{
	background-color: rgb(50, 50, 50);
	color: rgb(50, 255, 50);
	border: 2px solid;
	border-radius: 20px;
	padding: 8px;
	cursor: pointer;
}

.gerar:hover{
	border: 4px solid;;
}

.visualizacao{
	margin-left: 4%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

.visualizacao p{
	margin-top: 1%;
	margin-right: 55%;
	margin-bottom: 1.5%;
	margin-left: 1.5%;
	padding: 5px;
	border-left: 3px solid rgb(50, 255, 50);
	border-bottom: 2px solid rgb(50, 255, 50);
	text-align: left;
	font-size: 18px;
}

.visualizacao a:hover{
	text-decoration: none;
}

audio {
	margin-left: 1%;
}

#download{
	border: none;
	margin-left: 1%;
	font-size: 16px;
}

span.botao{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 1%;
	font-size: 16px;
	background-color: rgb(50, 50, 50);
	color: rgb(50, 255, 50);
	border: 2px solid;
	border-radius: 20px;
	padding: 8px;
	text-align: center;
}

span.botao:hover{
	border: 4px solid;
}


/* Rodapé */

footer{
	box-sizing: border-box;
	background-color: black;
	position: relative;
	margin: 5% auto;
	padding: 7% 35%;
	text-align: center;
	margin-bottom: 0px;
}

footer p{
	line-height: 15px;
	color: gray;
}

footer h2{
	color: gray;
}