{% load static %}
<!DOCTYPE html>
<html>
	
	<head>
		
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/png" href="{% static 'icone.png' %}"/>
	
	</head>
	
	<body>

		<div class="bodycontent">
			
			<div class="topo">
				<a href="{% url 'conversor:homepage' %}">
					<p class="nome">Conversor Text-To-Speech</p>
				</a>
			</div>

			{% block content %}{% endblock %}
		</div>

	</body>

	<footer>
		
		<p>Desenvolvido por: Raphael Gibson</p>
		<h2>Conversor Text-To-Speech</h2>
		<p>2019</p>

	</footer>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</html>